.RegForm{

  text-align: justify;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.FormStyle{
  border: 4px solid #FE5132;
  padding: 10px;
  background-color: #00FF51;
  color: black;
  display: flex;
  flex-direction: row;
  width:270px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.DroppingDown{
  min-width: 100vw;
  min-height: 100vh;
  z-index: -5;
  display: flex;
  position: absolute;
  justify-content: space-evenly;
}

.btn{

display: flex;
margin-left: 180px;
margin-top: 10px;
padding: 10px;
}

p{
  margin-top: 20px;
}

input{
  margin: 10px 10px 0 10px;
  max-height: 50px;
}
select{
  max-height: 50px;
}
.logo{
  display: flex;
  position: absolute;
  z-index: -3;
  margin: 10px;
  right: 0;
}

.Login{
  background-color: #FE5132;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}

a{
  text-decoration: none;
  color: black;
  padding-left: 10px;
  display: flex;
}

a:hover{
  color: white;
}

.servingSize{
  display:flex;
  flex-direction: column;
  width: 200px;
}

.MealFormStyle{
  display:flex;
  align-items: center;
}